*{
    padding: 0px;
    margin: 0px;
}

.heading{
    font-family:  'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}

.pic{
    background-image: url(https://user-images.githubusercontent.com/99110645/153695408-16916040-96e1-4642-a150-5c8c9f43f619.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.head-box{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.head-box > *{
    opacity: 1;
    z-index: 99;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}

.details{
    margin-top: -10px;
    font-family: quintessential;
}

.gal-btn{
    text-align: center;
    border-radius: 10px;
    color: cyan;
    background: transparent;
    outline: none;
    border: 0.5px solid lime;
}
