body{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

/*------page1-----------------------*/
#page1{
	height: 50vh;
	width: 100%;
	background-image: url(https://user-images.githubusercontent.com/99110645/152911534-979f0344-8ff5-4656-9bfb-31b18c1c57dd.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#nav-bar{
	height: 40px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
}

#logo{
	font-family: 'Supermercado One';
	font-size: 20px;
}

#nav-bar a{
	text-decoration: none;
	color: black;
	margin: 30px 10px;
}


#page1-header{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 40vh;
	position: relative;
	top: 10vh;
	line-height: 0px;
}

.head{
	font-weight: bold;
	font-size: 25px;
	font-family: 'Bebas Neue';
	letter-spacing: 2px;
	color: cyan;
}

.detail{
	font-size: 15px;
	color: white;
	text-align: center;
	font-family: 'Supermercado One';
	line-height: 20px;
	text-shadow: 0px 0px 1px black;
}

/*------page2-----------------------*/

#page2{
	background-color: ;
	height: 50vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.page2-img{
	width: 30vh;
	height: auto;
	border: 2px solid cyan;
	border-radius: 10%;
}

.founder{
	font-weight: bold;
	line-height: 0px;
	font-family: 'Supermercado One';
}

.about{
	padding: 5px;
	font-family: 'Supermercado One';
	font-size: 15px;
	color: grey;
	text-shadow: 0px 0px 1px cyan;
}



/*--------------------MEDIA------------------------*/
@media all and (min-width: 600px){
	#page1{
		height: 70vh;
		width: 100%;
		background-image: url(https://user-images.githubusercontent.com/99110645/152913483-a12fe3ec-b40f-4d63-a716-d4af2b9fc6b3.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}
