@charset "utf-8";

/*--CSS_DOCUMENT--*/

* { margin: 0; padding : 0; }

body{
	overflow-x: hidden;
	background-color: white;
}

header{
	background-color: #f6f5f5;
	height: 10vh;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	box-sizing: border-box;
	box-shadow: 0px 0px 5px lightgrey;
}

nav p{
	text-align: center;
}

nav p:nth-child(1){
	font-family: roboto mono;
}

nav p:nth-child(2){
	font-family: 'Supermercado One';
}
