body{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	background-color: white;
}

.material-icons:active{
	color: cyan;
}
/*------page1-----------------------*/
#page1{
	height: 50vh;
	width: 100%;
	background-image: url(https://user-images.githubusercontent.com/99110645/152911534-979f0344-8ff5-4656-9bfb-31b18c1c57dd.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

#nav-bar{
	height: 40px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 99;
}

#logo{
	font-family: 'Supermercado One';
	font-size: 20px;
}

#nav-bar a{
	text-decoration: none;
	color: black;
	margin: 30px 10px;
	z-index: 99;
	position: relative;
}

#page1-header{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 40vh;
	position: relative;
	top: 10vh;
	line-height: 0px;
}

.head{
	font-weight: bold;
	font-size: 25px;
	font-family: 'Bebas Neue';
	color: cyan;
	letter-spacing: 1px;
}

.detail{
	font-size: 15px;
	color: white;
	text-align: center;
	font-family: 'Supermercado One';
	line-height: 20px;
	text-shadow: 0px 0px 1px black;
}



/*------page2-----------------------*/

#page2{
	background-color: white;
	height: 50vh;
	text-align: center;
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.page2-detail{
	font-weight: bold;
	text-transform: uppercase;
	font-family: ubuntu;
	position: relative;
	bottom: -10px;
}

.service-box{
	display: flex;
	justify-content: space-evenly;
}

.service-head{
	font-weight: bold;
	font-size: 15px;
	font-family: roboto mono;
}

.service-detail{
	font-size: 14px;
	font-family: pt sans;
}

.material-icons{
	line-height: 0px;
	position: relative;
}

.blue{
	color: blue;
	bottom: -10px;
}

.red{
	color: red;
	bottom: -10px;
}

.green{
	color: green;
	bottom: -10px;
}

.box{
	margin: 2px;
}

/*------page3-----------------------*/
#page3{
	background-color: rgba(240,240,240,0.7);
	top: 2vh;
	height: 40vh;
	text-align: center;
	padding: 0.5em;
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.comment{
	font-family: indie flower;
}

.quote{
	color: white;
	padding: 5px;
	text-shadow: 0px 0px 2px black;
}

.ex-worker{
	width: 10vh;
	height: auto;
	border-radius: 50%;
	position: relative;
	top: -5vh;
}

#page3 img{
	margin-top: 4vh;
	margin-bottom: -8vh;
}

#page3-head{
	font-family: 'Supermercado One';
	position: relative;
	margin-bottom: -10px;
}

#page3-detail{
	padding: 0px;
	position: relative;
	font-family: 'Bebas Neue';
	top: -5px;
}

/*--page4--------------------------------------*/
#page4{
	position: relative;
	margin: 3em auto 1em auto;
	background-color: #19191b;
	padding: 1em 0.5em;
}

.low-head{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-family: roboto mono;
	color: white;
}

.contact{
	text-align: center;
	font-size: 1em;
	color: cyan;
	font-family: 'Bebas Neue';
	letter-spacing: 0.276em;
}

.fa-brands{
	font-size: 1.8em;
	margin: 0em 0.5em;
	color: white;
}

.icons{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#form{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

#message{
	height: 3em;
	margin: 1em;
	text-align: center;
}

.update{
	text-align: center;
	margin: 1em auto 0em auto;
	display: block;
	padding: 0.5em;
	background-color: #df1d1d;
	width: 10em;
	border-radius: 1.5em;
	color: white;
	text-decoration: none;
}



/*---MEDIA-------------------------*/
@media all and (min-width: 600px){
	#page1{
		height: 70vh;
		width: 100%;
		background-image: url(https://user-images.githubusercontent.com/99110645/152913483-a12fe3ec-b40f-4d63-a716-d4af2b9fc6b3.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}
