@charset "utf-8";

/*--CSS_DOCUMENT--*/

* { margin: 0; padding : 0; }

body{
	overflow-x: hidden;
	background-color: white;
}

header{
	background-color: #f6f5f5;
	height: 10vh;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	box-sizing: border-box;
	box-shadow: 0px 0px 5px lightgrey;
}

nav p{
	text-align: center;
}

nav p:nth-child(1){
	font-family: roboto mono;
}

nav p:nth-child(2){
	font-family: 'Supermercado One';
}

/*--container-------------------------------*/
.all-containers{
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}

.container{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: 2px solid grey;
	margin-top: 20px;
	text-decoration: none;
	background-color: white;
}

.container p{
	padding: 10px;
	text-decoration: none;
	color: black;
	font-family: oswald;
}



/*--MEDIA-------------------------------*/
@media all and (max-width: 600px){
	.container img{
		width: 30vh;
	}

	.container{
		
	}
}
